


<div class="breadcrumb">
    <!-- Campaigns -->
    {% if view_name == 'campaigns_list' %}
        <span><a href="/">Home</a> › <strong>Campaigns</strong></span>
    {% elif view_name == 'campaign_detail' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:campaigns_list' %}">Campaigns</a> ›  <strong>Details</strong></span>

    <!-- Page Templates -->
    {% elif view_name == 'review_page_templates_list' %}
        <span><a href="/">Home</a> › <strong>Page Templates</strong></span>
    {% elif view_name == 'review_page_template_update' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:review_page_templates_list' %}">Page Templates</a> ›  <strong>Update Page</strong></span>

    <!-- Email Templates -->
    {% elif view_name == 'email_templates_list' %}
        <span><a href="/">Home</a> › <strong>Email Templates</strong></span>
    {% elif view_name == 'email_template_update' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:email_templates_list' %}">Email Templates</a> ›  <strong>Update Email</strong></span>

    <!-- Routing -->
    {% elif view_name == 'routes_list' or view_name == 'review_criteria_list' or view_name == 'conditions_list' %}
        <span><a href="/">Home</a> › <strong>Routing</strong></span>
    {% elif view_name == 'condition_update' or view_name == 'condition_create' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:routes_list' %}">Routing</a> › <a href="{% url 'campaigns:conditions_list' %}">Conditions</a> ›  <strong>Condition Details</strong></span>
    {% elif view_name == 'review_criteria_update' or view_name == 'review_criteria_create' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:routes_list' %}">Routing</a> › <a href="{% url 'campaigns:review_criteria_list' %}">Criteria</a> ›  <strong>Criterion Details</strong></span>
    {% elif view_name == 'route_update' or view_name == 'route_create' %}
        <span><a href="/">Home</a> › <a href="{% url 'campaigns:routes_list' %}">Routing</a> › <a href="{% url 'campaigns:routes_list' %}">Routes</a> ›  <strong>Route Details</strong></span>

    <!-- Account -->
    {% elif view_name == 'profile_update' %}
        <span><a href="/">Home</a> › <strong>Update Profile</strong></span>

    {% endif %}
</div>




<style>
    .breadcrumb{
        margin: 20px 0px;
    }
</style>
