<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<h1>{{campaign.title}}</h1>

{% include "campaigns/breadcrumbs.html"%}

<ul>
    <li><a href="{% url 'campaigns:recipient_create' pk=campaign.id %}">+ Add a recipient</a></li>
    <li><a href="{% url 'campaigns:recipient_upload' pk=campaign.id %}">+ Upload recipient list</a></li>
    <li><a href="{% url 'campaigns:campaign_settings' pk=campaign.id %}">Campaign settings</a></li>
    <li><button onClick="CopyClipBoard('{{url_signup_recipient}}')">Copy campaign link</button></li>
    
</ul>




{% if review_requests.exists %}

<h3 style="margin:30px 0px 0px 0px">
    Statistics
</h3>

<div class="flex-row">
    <div class="card">
        <h1 class="card-stat">{{campaign.failure_count}}</h1>
        <div class="card-label">Negative<br> Prevented</div>
    </div>
    <div class="card">
        <h1 class="card-stat">{{campaign.success_count}}</h1>
        <div class="card-label">Hot<br> Leads</div>
    </div>
    <div class="card">
        <h1 class="card-stat">{{campaign.click_rate}}<span style="font-size: 0.5em;">%</span></h1>
        <div class="card-label">Click<br> Rate</div>
    </div>
    <div class="card">
        <h1 class="card-stat">{{campaign.completion_rate}}<span style="font-size: 0.5em;">%</span></h1>
        <div class="card-label">Completion<br> Rate</div>
    </div>
</div>

<form method="post" action="">
        {% csrf_token %}
        <input type="submit" name="delete" value="Delete">
        <input type="submit" name="send" value="Send">

        {{form}}

        <button type="submit" name="edit" value="Edit">
            <i style="font-size: 17px; color: rgb(27, 27, 27);"class="fas fa-edit"></i>
        </button>
        
        <a  style="text-decoration: none;" href="{% url 'campaigns:email_template_create' %}?next={{ request.path|urlencode }}">
            <i style="font-size: 18px; color: rgb(27, 27, 27); "class="fas fa-plus-square"></i>
        </a>

        <button type="submit" name="test" value="Test">
            <i style="font-size: 17px; color: rgb(27, 27, 27);"class="fas fa-vial"></i>
        </button>

        

      
{% endif %} 
    <table>
        <tr>
            <th>{% if review_requests.exists %}<input type="checkbox" onClick="toggle(this)"/>{% endif %} </th>
            <th>#</th>
            <th>Status</th>
            <th>Result</th>
            <th>Last sent</th>
            <th>Total sent</th>
            <th>Recipient</th>
            <th>Email</th>
            {% if campaign.extra_field1_label %}
                <th> {{campaign.extra_field1_label}}</th>
            {% endif %}
            {% if campaign.extra_field2_label %}
                <th> {{campaign.extra_field2_label}}</th>
            {% endif %}
            <th>Email Template</th>
            <th>Routed To</th>
            <th>Action</th>
        </tr>
        {% if review_requests.exists %}
            {% for request in review_requests %}
            <tr {% if not request.recipient.subscribed %} class='unsubscribed' {% endif %}>
                <td><input type="checkbox" id={{request.id}} name="selected_{{request.id}}" {% if not request.recipient.subscribed %} disabled {% endif %}></td>
                <td>{{forloop.counter}}</td>
                <td>{{request.status}}</td>
                <td>
                    <div class="tooltip">{{request.evaluations_from_review_request.all.last.get_result_display}}
                        <div class="tooltiptext">
                            {% if request.evaluations_from_review_request.all.last.scores_from_evaluation.all %}
                                {% for score in request.evaluations_from_review_request.all.last.scores_from_evaluation.all %}
                                    {{score.criteria.name}}: {{score.value}}/{{score.criteria.get_ladder_display}}
                                    
                                {% endfor %}
                            {% else %}
                                <span>Evaluation skipped.</span>
                            {% endif %}
                             
                            {% if request.evaluations_from_review_request.all.last.comments %}
                               <p>"{{request.evaluations_from_review_request.all.last.comments}}"</p>
                               <p>{{request.evaluations_from_review_request.all.last.created}}</p> 
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>{% if request.most_recent_message %} {{request.most_recent_message.sent}} {% endif %}</td>
                <td>{% if request.most_recent_message %} {{request.number_of_messages}} {% endif %}</td>
                <td>{{request.recipient}}</td>
                <td>{{request.recipient.email}}</td>
                {% if campaign.extra_field1_label %}
                    <td>{{request.recipient.extra_field_1}}</td>
                {% endif %}
                {% if campaign.extra_field2_label %}
                    <td>{{request.recipient.extra_field_2}}</td>
                {% endif %}
                <td>{% if request.most_recent_message %} {{request.most_recent_message.email_template.template_name}} {% endif %}</td>


                <td>
                    {% if request.evaluations_from_review_request.all.last.routedTo != None %}
                        {{request.evaluations_from_review_request.all.last.routedTo}}
                    {% endif %}
                </td>
                <td><a href="{% url 'campaigns:recipient_update' pk=campaign.id rpk=request.recipient.id %}">Edit</a> |
                    <a href="{% url 'campaigns:evaluation_submit' slug=request.slug %}" target="_blank">Evaluation</a> |
                    <a href="{% url 'campaigns:evaluation_email' slug=request.slug %}" target="_blank">Email Evaluation</a>

                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

</form>
</html>


<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
    }

    .unsubscribed {
        color: lightgray
    }

    button {
        background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        font-family: 'Times New Roman', serif;
        font-size: 16px;
        color: #551A8B;
        text-decoration: underline;
        cursor: pointer;
    }

    .flex-row{
        display: flex;
        flex-direction: row;
    }

    .card{
        display: flex;
        flex-direction: column;
        min-width: 75px;
        justify-content: center;
        margin: 10px 10px 20px 0px;
        padding: 7px 0px;
        text-align: center;
        border: solid 1px lightgray;
        border-radius: 8px;
    }

    .card-stat{
        margin: 0px 20px
    }
    .card-label{
        color: grey;
        text-transform: uppercase;
        font-size: 0.6em;
    }


    .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
    font-size: 0.9em;
    visibility: hidden;
    width: 200px;
    background-color: rgb(34, 34, 34);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    }

    .tooltip:hover .tooltiptext {
    visibility: visible;
   
    }


</style>

<script>
    function CopyClipBoard(str) {
        const element = document.createElement('textarea');
        element.value = str;
        document.body.appendChild(element);
        document.body.appendChild(element);
        element.select();
        document.execCommand('copy');
        document.body.removeChild(element);
    }

    function toggle(source) {
        checkboxes = document.querySelectorAll("[name^=selected_]")
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }



</script>