
<h1>Campaign {{pk}}</h1>
<h2>Settings</h2>


<form  method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'campaigns:campaign_detail' pk=pk %}"><button>Cancel</button></a>
