<h1>Campaigns</h1>

{% include "campaigns/breadcrumbs.html"%}

<a href="{% url 'campaigns:campaign_create' %}">+ Create campaign</a>
<table>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    {% for campaign in campaigns %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="{% url 'campaigns:campaign_detail' pk=campaign.id %}">{{campaign.title}}</a></td>
        <td><a href="{% url 'campaigns:campaign_delete' pk=campaign.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<style>

table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width:auto;
        padding: 5px;
        margin: 5px 0px;
}

</style>