<h1>Routing</h1>

{% include "campaigns/breadcrumbs.html"%}

<ul>
    <li ><a href="{% url 'campaigns:routes_list' %}">Routes</a></li>
    <li ><a href="{% url 'campaigns:review_criteria_list' %}">Criteria</a></li>
    <li ><a href="{% url 'campaigns:conditions_list' %}" class="active">Conditions</a></li>
</ul>

<a href="{% url 'campaigns:condition_create' %}">+ Create a condition</a>
<table>
    <tr>
        <th>#</th>
        <th>Condition</th>
        <th>Action</th>
    </tr>
    {% for condition in condition_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{condition}}</td>
        <td><a href="{% url 'campaigns:condition_update' pk=condition.id %}">Edit</a> |
            <a href="{% url 'campaigns:condition_delete' pk=condition.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>


<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        /* padding: 5px 50px 5px 5px; */
    }

    .active {
        font-weight: 600;
    }

    .inactive {
        color: lightgray
    }
</style>