
{% if not form.instance.pk %}
    <h1>Create New Condition</h1>
{% else %}
    <h1>Update Condition</h1>
{% endif %}

{% include "campaigns/breadcrumbs.html"%}

<form  method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'campaigns:conditions_list' %}"><button>Cancel</button></a>



