<h1>Routing</h1>

{% include "campaigns/breadcrumbs.html"%}

<ul>
    <li ><a href="{% url 'campaigns:routes_list' %}">Routes</a></li>
    <li ><a href="{% url 'campaigns:review_criteria_list' %}" class="active">Criteria</a></li>
    <li ><a href="{% url 'campaigns:conditions_list' %}">Conditions</a></li>
</ul>


<a href="{% url 'campaigns:review_criteria_create' %}">+ Create a criteria</a>


    <table>
        <tr>
            <th>#</th>
            <th>Label</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for criteria in review_criteria_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{criteria.name}}</td>
            <td>{{criteria.label}}</td>
            <td><a href="{% url 'campaigns:review_criteria_update' pk=criteria.id %}">Edit</a> |
                {% if forloop.counter == 1 %}
                    <a class='inactive'>Delete</a>
                {% else %}
                    <a href="{% url 'campaigns:review_criteria_delete' pk=criteria.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


</form>





<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        /* padding: 5px 50px 5px 5px; */
    }

    .active {
        font-weight: 600;
    }

    .inactive {
        color: lightgray
    }
</style>