<h1>Email Setup</h1>

{% include "campaigns/breadcrumbs.html"%}

<a href="{% url 'campaigns:email_template_create' %}">+ Create a template</a>


    <table>
        <tr>
            <th>#</th>
            <th>Template</th>
            <th>Action</th>
        </tr>
        {% for email in email_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{email.template_name}}</td>
            <td><a href="{% url 'campaigns:email_template_update' pk=email.id %}">Edit</a> |
                <a href="{% url 'campaigns:email_template_duplicate' pk=email.id %}">Duplicate</a> |
                {% if forloop.counter == 1 %}
                    <a class='inactive'>Delete</a>
                {% else %}
                    <a href="{% url 'campaigns:email_template_delete' pk=email.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


</form>





<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        /* padding: 5px 50px 5px 5px; */
    }

    .inactive {
        color: lightgray
    }
</style>