{% load campaigns_extras %}
{% if not form.instance.pk %}
    <h1>Create new email template</h1>
{% else %}
    <h1>Update email template</h1>
{% endif %}

{% include "campaigns/breadcrumbs.html"%}

<span class="tag">name</span> 
{% for tag in email_tags %}
        <span class="tag">{{tag|snake_case}}</span>
{% endfor %}
<form  method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a
    {% if request.GET.next %}
    href="{{request.GET.next}}"
    {% else %}
    href="{% url 'campaigns:email_templates_list' %}"
    {% endif %}
><button>Cancel</button></a>

<style>
    .tag{
        color:#999;
        border: solid 1px #ddd;   
        margin-top: 5px;
        margin-right: 5px;
        padding: 0px 10px;
        border-radius: 4px;
        line-height: 22px;
        height: 25px;
        display: inline-block;
    }
</style>