{% load socialaccount %}
<h1>ReviewApp</h1>

{% if user.is_authenticated %}
    <h4>Logged in as {{user.email}}</h4>

<b>Menu</b><br>
    <ul>
        <li><a href="{% url 'campaigns:campaigns_list' %}">Campaigns</a></li>
    </ul> 
<b>Settings</b>
    <ul>
        <li ><a href="{% url 'campaigns:review_page_templates_list' %}">Page Templates</a></li>
        <li ><a href="{% url 'campaigns:email_templates_list' %}">Email Templates</a></li>
        <li ><a href="{% url 'campaigns:routes_list' %}">Routing</a></li>
    </ul> 
<b>Account</b>
        <ul>
            <li><a href="{% url 'accounts:profile_update' %}">Update Profile</a></li>
            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
            <li><a href="{% url 'account_email' %}">Manage Email</a></li>
            <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
                
{% else %}

<ul>

</ul>
    <ul>
        <li><a href="{% url 'account_login' %}">Log in</a></li>
        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
        <li><a href="{% provider_login_url 'google' %}">Login with Google</a></li>
    </ul> 
{% endif %}
  