<h1>Upload a list of recipients</h1>
<p>Order of the CSV should be first_name, last_name, email, extra_field_1 (optional), extra_field_2 (optional)</p>


<!-- multipart/form-data allows us to upload a file -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label> Upload a file</label>
  <input type="file" name="file">
  <p>Only accepts CSV files.</p>
  <button type="submit">Upload</button>
</form>
<a href="{% url 'campaigns:campaign_detail' pk=pk %}"><button>Cancel</button></a>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.tags }}: {{ message }}</li>
  {% endfor %}
</ul>
{% endif %}