
{% if not form.instance.pk %}
    <h1>Create new review request</h1>
{% else %}
    <h1>Update review request</h1>
{% endif %}

<form  method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'campaigns:campaign_detail' pk=campaign.id %}"><button>Cancel</button></a>



{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.tags }}: {{ message }}</li>
  {% endfor %}
</ul>
{% endif %}