{% if not form.instance.pk %}
    <h1>Create New Review Page</h1>
{% else %}
    <h1>Update Review Page</h1>
{% endif %}

{% include "campaigns/breadcrumbs.html"%}

<form  method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'campaigns:review_page_templates_list'%}"><button>Cancel</button></a>