<h1>Review Page Templates</h1>

{% include "campaigns/breadcrumbs.html"%}

<a href="{% url 'campaigns:review_page_template_create' %}">+ Create a template</a>


    <table>
        <tr>
            <th>#</th>
            <th>Template</th>
            <th>Action</th>
        </tr>
        {% for review_page in review_page_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{review_page.subject_line}}</td>
            <td><a href="{% url 'campaigns:review_page_template_update' pk=review_page.id %}">Edit</a> |
                <a href="{% url 'campaigns:review_page_template_duplicate' pk=review_page.id  %}">Duplicate</a> |
                {% if forloop.counter == 1 %}
                    <a class='inactive'>Delete</a>
                {% else %}
                    <a href="{% url 'campaigns:review_page_template_delete' pk=review_page.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


</form>





<style>
    table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        /* padding: 5px 50px 5px 5px; */
    }

    .inactive {
        color: lightgray
    }
</style>