
{% if not form.instance.pk %}
    <h1>Create new route</h1>
{% else %}
    <h1>Update route</h1>
{% endif %}

{% include "campaigns/breadcrumbs.html"%}

<form enctype="multipart/form-data" method="post" action="">

  {% csrf_token %}

  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}

<p>
        {{ form.name.label_tag }}
        {{ form.name.errors }}
        {{ form.name }}
</p>
<p>
    {{ form.conditions.label_tag }}
    {{ form.conditions.errors }}
    {{ form.conditions }}
</p>
<p>
    {{ form.priority.label_tag }}
    {{ form.priority.errors }}
    {{ form.priority }}
</p>
<p>
    {{ form.url.label_tag }}
    {{ form.url.errors }}
    {{ form.url }}
</p>

<p id="url_thumbnail_field">
    {{ form.url_thumbnail.label_tag }}
    {{ form.url_thumbnail.errors }}
    {{ form.url_thumbnail }}
</p>

<div id="thumbnail_presentation">
    <img id="url_thumbnail" class="routing-logo" src="{{route.url_thumbnail}}" onerror="this.src='https://detour-app.s3.amazonaws.com/static/img/default_route.png'" alt="{{route.name}}-thumbnail">
    <a class="hidden" href="#" onclick="return false;" id="toggle_url">Not this one?</a>
</div>




    <button type="submit">Submit</button>
</form>


<a href="{% url 'campaigns:routes_list' %}"><button>Cancel</button></a>

<script>
    
    url_route_input = document.getElementById('id_url')
    url_thumbnail_div = document.getElementById('url_thumbnail_field')
    url_thumbnail_img = document.getElementById('url_thumbnail')
    url_thumbnail_input = document.getElementById('id_url_thumbnail')
    toggle_url_btn = document.getElementById('toggle_url')

    url_route_input.addEventListener("blur", function() {
        let tmp = document.createElement('a');
        tmp.href = url_route_input.value
        url_thumbnail_img.src = url_thumbnail_input.value = 'https://' + tmp.hostname + '/favicon.ico'
        toggle_url_btn.style.display = "block"
    });

    url_thumbnail_input.addEventListener("blur", function() {
        url_thumbnail_img.src = url_thumbnail_input.value
    });

    toggle_url_btn.addEventListener("click", function() {
        url_thumbnail_div.style.display = "block";
        toggle_url_btn.style.display = "none"
    });
</script>

<style>
    .routing-logo{
        padding-right: 0px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50px;
        margin-right: 5px;
    }

    #thumbnail_presentation{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    #url_thumbnail_field{
        display: none;
    }

    .hidden{
        display: none;
    }

</style>

