<h1>Routing</h1>

{% include "campaigns/breadcrumbs.html"%}

<ul>
    <li ><a href="{% url 'campaigns:routes_list' %}" class="active">Routes</a></li>
    <li ><a href="{% url 'campaigns:review_criteria_list' %}">Criteria</a></li>
    <li ><a href="{% url 'campaigns:conditions_list' %}">Conditions</a></li>
</ul>

<a href="{% url 'campaigns:route_create' %}">+ Create a route</a>
<table>
    <tr>
        <th>Priority</th>
        <th>Route</th>
        <th>Action</th>
    </tr>
    {% for route in route_list %}
    <tr>
        <td>{{route.priority}}</td>
        <td>{{route.name}}</td>
        <td><a href="{% url 'campaigns:route_update' pk=route.id %}">Edit</a> |
            <a href="{% url 'campaigns:route_delete' pk=route.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>



<style>
        table, th, td {
        border-bottom: 1px solid #c3c3c3;
        border-collapse: collapse;
        width:auto;
        /* padding: 5px 50px 5px 5px; */
    }

    .active {
        font-weight: 600;
    }

    .inactive {
        color: lightgray
    }
</style>