<h1>Update Profile</h1>

{% include "campaigns/breadcrumbs.html"%}

<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
<a href="{% url 'campaigns:index'%}"><button>Cancel</button></a>