{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Mobile Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#3554d1">
        <meta name="theme-color" content="#3554d1">

        <!--Font Awesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

         <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>{{review_request.campaign.intro_template.subject_line}}</title>
    </head>

    <header>
        
        <div class="menu"></div>
        <div class="submenu">
            <div class="flex">
                
                <img class="thumbnail" alt="logo"
                    {% if campaign.creator.logo %} 
                        src="{{campaign.creator.logo.url}}" onerror="this.src='https://detour-app.s3.amazonaws.com/static/img/default_logo.jpg'"
                    {% else %} 
                        src="https://detour-app.s3.amazonaws.com/static/img/default_logo.jpg"
                    {% endif %} 
                >
                
                <div class="website">
                    <h3 class='company-name'>{{campaign.creator.organization}}</h3>
                    <p class="website-url">{{campaign.creator.clean_website_url}}</p>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>




<script>
    function toggleDisplay() {
        toggle = document.getElementById('altroutes')
        toggle.style.display = toggle.style.display == "block" ? "none" : "block";
    }
</script>

<style>

    *{
        padding: 0;
        margin: 0;
    }

    h1, h2{
        margin-bottom: 5px;
    }

    body {
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        color: {{campaign.intro_template.body_color}};
        background-color: {{campaign.intro_template.background_color}};
    }

    .menu{
        height: 72px;
        background:{{campaign.intro_template.navbar_color}};
    }



    .submenu{
        display: block;
        background-color: white;
        padding: 16px;
        box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
    }

    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(221, 221, 221, 0.75);
        z-index: 2;
        overflow-y:scroll;
        overflow-x:hidden;
    }

    .modal {
        background-color: #fefefe;
        margin: 19vh auto;
        padding: 45px 15px;
        z-index: 1;
        max-width: 400px;
        border-radius: 10px;
        box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
    }

    .narrow {
        padding: 25px 40px;
    }

    .cell {
        margin-top: 10px;
        padding: 25px 20px;
        background: #ffffff;  
        border-radius: 10px;
        text-align: left;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: solid 1px rgb(235, 235, 235);
    }

    .toggle{
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 15px;
        color: #808080;
        fill: #808080;
        cursor: pointer;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .toggle:hover{
        color: #ee7825;
        fill: #ee7825
    }



    label[for="chevronControl"] {
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 15px;
        color: #808080;
        fill: #808080;
        cursor: pointer;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    label[for="chevronControl"]:hover {
        color: #ee7825;
        fill: #ee7825
    }

    #chevronControl {
        display: none;
    }

    #chevronControl:checked + label > svg {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }


    .hidden{
        display:none;
    }

    a:link {
        text-decoration: none;
    }

    a {color:#000000;}         /* Unvisited link  */
    a:visited {color:#000000;} /* Visited link    */
    a:hover {color:#000000;}   /* Mouse over link */
    a:active {color:#000000;}  /* Selected link   */

    .cell:hover {
        background: #f3f6f8; 
    }

    .routing-logo{
        padding-right: 0px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50px;
    }

    .routing-name{
        padding-left: 10px;
    }

    .list{
        margin: 40px 0px;
    }

    .website{
        text-align: left;
    }

    .thumbnail {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .company-name{
        color:{{campaign.intro_template.heading_color}};
    }

    .website-url{
        /* color:#9A9AAD; */
        color: {{campaign.intro_template.subheading_color}};
    }

    .container {    
        margin: 5px 15px;
    }

    .rating{
        margin: 25px 20px;
    }

    hr.solid{
        border-top: 1px solid rgb(245, 245, 245);
    }

    div.line {
        border-bottom:thin solid rgb(231, 231, 231);
    }

    /* form {
        margin: 10px;
    } */


    label[for="id_comments"] {
        font-size: 1.2rem;
        font-weight: 700;
    }

    textarea, input{
        resize: none;
        border: solid 1px #e0e2e6;  
        border-radius: 10px;
        margin: 10px 0px;
        width: 95%;
        padding: 15px;
        box-sizing: border-box;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        -webkit-appearance: none;
    }

    textarea:focus, input:focus { 
        outline: none !important;
        background-color: #fcfcfc;
        border-color: {{campaign.intro_template.navbar_color}};
        

    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #a5a5a5;
        line-height: 1.6rem;
        letter-spacing: 0.5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #707070;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #707070;
    }


    .heading {
        margin-bottom: 10px;
        color: {{campaign.intro_template.heading_color}};
    }

    .left{
        text-align: left;
    }

    .center{
        text-align: center;
    }

    .header-box{
        padding: 0px 10px 0px 10px;
    }

    .modal-subject{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
  

    .subheading {
        line-height: 1.5;
        margin-bottom: 30px;
        margin-top: 20px;
        color: {{campaign.intro_template.subheading_color}};
        
    }

    .narrow{
        padding: 0px 10%
    }
    
    .white-box {
        background: white;
        padding: 40px;
        max-width: 425px;
        width: 80%;
        min-height: 20em;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
        border-radius: 10px;
    }



    .rate {
        float: center;
        height: 36px;
        padding: 0 10px;
        display: inline-flex;
        flex-direction: row-reverse;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
        /* color: {{campaign.intro_template.subheading_color}}; */
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color:gold;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    .button {
        background-color: {{campaign.intro_template.button_color}};
        border: none;
        font-weight: 600;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor:pointer;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-top: 15px;
    }

    .errorlist{
        color: red;
        list-style-type:none;
    }

    .button:hover{
        background: {{campaign.intro_template.hover_button_color}}
    }


    @media only screen and (max-width: 600px) {
        .menu{
            height: 40px;
        }

        .container {
            margin: 10px 0px;
        }
        .white-box {
            padding: 25px 10px;
            width: auto;
        }

        .remove-padding{
            padding: 25px 0px;
        }

        .narrow{
            padding: 0px 10%
        }

        .modal {
            padding: 25px 15px;
            margin: 20vh auto;
        }


        .narrow {
            padding: 25px 7%;
        }


    }

    @media only screen and (max-width: 320px) {
        .narrow {
            padding: 15px 4%;
        }
    }

</style>
