
{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %}
<div class="white-box remove-padding">

    <form  method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        {% csrf_token %}

        <input class="button" type="submit" value="Submit">
    </form>
</div>
{% endblock %} 
