{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %}
    <div class="white-box">
        <div class="header-box">
            <h1 class="heading">{{criteria.name}}</h1>
            <!-- <h4 style="color:lightgray; font-size: 0.9rem;">STEP 1 of 2</h2> -->
            <div class="subheading">{{criteria.label}}</div>

            <!-- <a href="/{{slug}}">test</a> -->
            



            <div style="display: flex; justify-content: space-between; margin: 0px 20px">
                <a href="/evaluation/email/{{slug}}/1">
                    <img src="https://nxcso.stripocdn.email/content/guids/CABINET_26b3162452cc59077a9f56695f9c277a/images/12011556881497858.png" alt style="display: block;" width="75">
                </a>
                <a href="/evaluation/email/{{slug}}/2">
                    <img src="https://nxcso.stripocdn.email/content/guids/CABINET_26b3162452cc59077a9f56695f9c277a/images/84901556881536888.png" alt style="display: block;" width="75">
                </a>
                <a href="/evaluation/email/{{slug}}/3">
                    <img src="https://nxcso.stripocdn.email/content/guids/CABINET_26b3162452cc59077a9f56695f9c277a/images/89181556881562856.png" alt style="display: block;" width="75">
                </a>
            </div>

            
<!-- 
            <a href="/evaluation/email/{{slug}}/1">
                <div class="rate">
                        <label for="dsfdf" title="dsfsd"></label> 
                </div>
            </a>

            <a href="/evaluation/email/{{slug}}/2">
                <div class="rate">
                    <label for="dsfdf" title="dsfsd"></label> 
                </div>
            </a>

            <a href="/evaluation/email/{{slug}}/3">
                <div class="rate">
                    <label for="dsfdf" title="dsfsd"></label> 
                </div>
            </a>

            <a href="/evaluation/email/{{slug}}/4">
                <div class="rate">
                    <label for="dsfdf" title="dsfsd"></label> 
                </div>
            </a>

 -->


           

        </div>
    </div>
{% endblock %}