{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %}
    <div class="white-box">
        <div class="header-box">
            <h1 class="heading">{{review_request.campaign.intro_template.subject_line}}</h1>
            <!-- <h4 style="color:lightgray; font-size: 0.9rem;">STEP 1 of 2</h2> -->
            <div class="subheading">{{review_request.campaign.intro_template.body}}</div>
        </div>
        <!-- <hr class="solid short">   -->
        <form method="post" action="">
            {% csrf_token %}

            <div class="list">
            {% for field in form.visible_fields %}

                    <div class='rating left'>
                        <p>{{ field.label }}</p>
                        {{ field.errors }}
                        <div class="rate">
                            {% for radio in field reversed   %}
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" title="{{ radio.id_for_label }}"></label> 
                            {% endfor %}
                        </div>
                    </div>
                    {% if forloop.counter != form.fields|length %}
                        <div class="line"></div>
                    {% endif %}
            
            {% endfor %}
            </div>
            
            <input class="button" type="submit" value="Submit">

        </form>
    </div>
{% endblock %}