{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %}
 
<div id="overlay">
    <div class="modal shadow">
        <div class="narrow">
            <div class="modal-subject">{{campaign.intro_template.redirect_heading}}</div>
            <div class="subheading">{{campaign.intro_template.redirect_subheading}}</div>
            <!-- <a class="cell" href={{route.url}}> -->
            <a class="cell" href="{% url 'campaigns:redirect' epk=evaluation.id rpk=route.id %}">
                <img class="routing-logo" src="{{route.url_thumbnail}}" onerror="this.src='https://detour-app.s3.amazonaws.com/static/img/default_route.png'" alt="{{route.name}}-thumbnail">
                <span class="routing-name">{{route.name}}</span>
            </a>

            <input onClick="toggleDisplay()" type="checkbox" id="chevronControl"/>
            <label class="btn" for="chevronControl">
                <span>More options</span>
                <svg id="chevron" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.273 9.146l6.354 6.354 6.353-6.354-.707-1.459-5.646 5.647L5.98 7.687z"></path>
                </svg>
            </label>
            
            <div id="altroutes" class="hidden">
                {% if altroutes %} 
                    {% for altroute in altroutes %}
                        <a class="cell" href="{% url 'campaigns:redirect' epk=evaluation.id rpk=altroute.id %}">
                            <img class= "routing-logo" src="{{altroute.url_thumbnail}}" onerror="this.src='https://detour-app.s3.amazonaws.com/static/img/default_route.jpg'" alt="{{altroute.name}}-thumbnail">
                            <span class="routing-name">{{altroute.name}}</span>
                        </a>
                    {% endfor %}            
                {% endif %}
                <a class="cell" href="{{private_review_url}}">
                    <img class= "routing-logo" src="https://detour-app.s3.amazonaws.com/static/img/private37x37.png" alt="private-review">
                    <span class="routing-name">Private review</span>
                </a>
            </div>

        </div>
    </div>  
</div>



{% endblock %}