{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %} 
<div class="">
    <div class="white-box">
    <div class="header-box">
        <h1 class="heading">{{campaign.intro_template.subject_line}}</h1>
        <div class="subheading">{{campaign.intro_template.body}}</div>
    </div>
  
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="button" value="Next">
    </form>
</div>
</div>


{% endblock %}