
{% extends 'campaigns/evaluation/base_evaluation.html' %}

{% block content %} 
<div class="white-box flex">
    <div class="">
        <i class="far fa-check-square fa-4x" style='color:#00b67a; margin-bottom: 15px;'></i>
        <h1 class="heading">{{campaign.intro_template.thankyou_heading}}</h1>
        <div class="subheading narrow">{{campaign.intro_template.thankyou_subheading}}</div>
    </div>
</div>

<script>
    window.addEventListener("load", function(){
        if ('{{redirect}}' !== 'None'){
            setTimeout(function(){
                window.location.href = '{{redirect}}';
            }, '{{timeout}}')
        }
    });
</script>
{% endblock %}


