{% extends 'campaigns/exceptions/base_exceptions.html' %}

{% block content %}

  <div class="code">500</div>        
  <div class="message" style="padding: 10px;">SERVER ERROR </div>
  
{% endblock %}