{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Mobile Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!--Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/site.webmanifest">
        <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#3554d1">
        <meta name="theme-color" content="#3554d1">

        <!--Font Awesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

         <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>Error</title>
    </head>

    <body>
        <div class="flex-center position-r full-height">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

<style>

    body {
        /* background-color: #f2f0ff;
        color:  #3554d1;  */
        background-color: #fff0f0;
        color: #ff6e6e;
        font-family: "Muli", sans-serif;
        font-weight: 100;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-r {
        position: relative;
    }

    .code {
        border-right: 3px solid;
        font-size: 55px;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .message {
        font-size: 40px;
        text-align: center;
    }

</style>
